<div class="autocomplete-container" id="autocomplete-container"></div>
<div class="autocomplete-container" id="autocomplete-container-country"></div>
<div class="autocomplete-container" id="autocomplete-container-city"></div>


<script src="~/Content/AddressAPI/main.js"></script>
<link href="~/Content/AddressAPI/main.css" rel="stylesheet" />